.address__heading {
  font-family: Montserrat-700;
  font-size: 26px;
  line-height: 1.2;
}
.address__underHeading,
.address__input,
.address__item {
  font-family: Montserrat-500;
  font-size: 20px;
  line-height: 1.2;
}
.address__form {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 32px;
}
.address__input {
  box-sizing: border-box;
  width: 95%;
  height: 70px;
  border: 3px solid #4f27bf;
  border-radius: 10px;
  padding: 24px;
}
.address__button {
  height: 70px;
  width: 217px;
  background-color: #4f27bf;
  border-radius: 10px;
  font-family: Montserrat-700;
  font-size: 26px;
  color: white;
}

.address__list {
  box-sizing: border-box;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: -2px -2px 10px #a8a8a8, 2px 2px 10px #a8a8a8;
  padding: 24px;
}

.address__subHeading {
  font-family: Montserrat-700;
  font-size: 26px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 16px;
}
.address__item {
  border-top: 1px solid #a8a8a8;
  padding: 16px;
  margin: 0;
}

@media (max-width: 600px) {
  .address__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 32px;
  }
  .address__input {
    margin-bottom: 16px;
    font-size: 16px;
    padding: 10px;
  }
}
