.news__heading{
    font-family: Montserrat-700;
    font-size: 26px;
    line-height: 1.2;
    margin: 0 0 16px;
}
.news__text,
.news__underHeading{
    font-family: Montserrat-500;
    font-size: 20px;
    line-height: 1.2;
}
.news__underHeading{
    margin-bottom: 36px;
}